name: Test
on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [main]
jobs:
  test-project:
    name: Test Project
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-24.04
            compiler: g++
          - os: ubuntu-24.04
            compiler: clang++
          - os: macos-14
            compiler: clang++
          - os: windows-2022
            compiler: cl
          - os: windows-2022
            compiler: clang-cl
    steps:
      - name: Checkout Project
        uses: actions/checkout@v5.0.0

      - name: Configure Project
        run: cmake -G 'Unix Makefiles' -D CMAKE_CXX_COMPILER=${{ matrix.compiler }} --preset development

      - name: Test Project
        run: ctest --preset development
